blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.16.1
Flask==2.3.0
Flask-MySQL==1.5.2
gTTS==2.5.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mysql-connector-python==9.1.0
platformdirs==4.3.6
playsound==1.2.2
PyAudio==0.2.14
PyMySQL==1.1.1
requests==2.32.3
SpeechRecognition==3.10.4
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.26.5
Werkzeug==3.0.4
